-i https://pypi.org/simple
aiohttp==3.9.4; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.3.0; python_version >= '3.8'
async-timeout==4.0.3; python_version >= '3.7'
attrs==23.2.0; python_version >= '3.7'
blinker==1.7.0; python_version >= '3.8'
cachecontrol==0.14.0; python_version >= '3.7'
cachetools==5.3.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cloudinary==1.40.0
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
cryptography==42.0.8; python_version >= '3.7'
dataclasses-json==0.6.4; python_version >= '3.7' and python_version < '4.0'
distro==1.9.0; python_version >= '3.6'
exceptiongroup==1.2.0; python_version >= '3.7'
faiss-cpu==1.8.0; python_version >= '3.8'
fastapi==0.110.3; python_version >= '3.8'
firebase-admin==6.5.0; python_version >= '3.7'
flask==3.0.3; python_version >= '3.8'
flask-cors==4.0.0
frozenlist==1.4.1; python_version >= '3.8'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.43; python_version >= '3.7'
google-api-core[grpc]==2.19.0; python_version >= '3.7'
google-api-python-client==2.132.0; python_version >= '3.7'
google-auth==2.29.0; python_version >= '3.7'
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1; python_version >= '3.7'
google-cloud-firestore==2.16.0; python_version >= '3.7'
google-cloud-storage==2.16.0; python_version >= '3.7'
google-crc32c==1.5.0; python_version >= '3.7'
google-resumable-media==2.7.0; python_version >= '3.7'
googleapis-common-protos==1.63.1; python_version >= '3.7'
grpcio==1.62.2; python_version >= '3.7'
grpcio-status==1.62.2; python_version >= '3.6'
grpcio-tools==1.62.2; python_version >= '3.7'
gunicorn==22.0.0; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.5; python_version >= '3.8'
httplib2==0.22.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
httpx==0.27.0; python_version >= '3.8'
idna==3.7; python_version >= '3.5'
importlib-metadata==7.1.0; python_version >= '3.8'
iniconfig==2.0.0; python_version >= '3.7'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.3; python_version >= '3.7'
jsonify==0.5
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonschema==4.22.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
langchain==0.2.2; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-cli==0.0.24; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-community==0.2.3; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-core==0.2.2; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-openai==0.1.8; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-text-splitters==0.2.0; python_version < '4.0' and python_full_version >= '3.8.1'
langserve[all]==0.2.1; python_full_version >= '3.8.1' and python_full_version < '4.0.0'
langsmith==0.1.48; python_version < '4.0' and python_full_version >= '3.8.1'
libcst==1.4.0; python_version >= '3.9'
load-dotenv==0.1.0
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
marshmallow==3.21.1; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
msgpack==1.0.8; python_version >= '3.8'
multidict==6.0.5; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
numpy==1.26.4; python_version >= '3.9'
openai==1.31.2; python_full_version >= '3.7.1'
orjson==3.10.1; python_version >= '3.8'
packaging==23.2; python_version >= '3.7'
pillow==10.3.0; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
proto-plus==1.23.0; python_version >= '3.6'
protobuf==4.25.3; python_version >= '3.8'
pyasn1==0.6.0; python_version >= '3.8'
pyasn1-modules==0.4.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydantic==2.7.0; python_version >= '3.8'
pydantic-core==2.18.1; python_version >= '3.8'
pydub==0.25.1
pygments==2.18.0; python_version >= '3.8'
pyjwt[crypto]==2.8.0; python_version >= '3.7'
pyparsing==3.1.2; python_full_version >= '3.6.8'
pypdf==4.2.0; python_version >= '3.6'
pyproject-toml==0.0.10
pytest==8.1.1; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
pyyaml==6.0.1; python_version >= '3.6'
referencing==0.35.1; python_version >= '3.8'
regex==2024.4.16; python_version >= '3.7'
regexparser==0.1.0; python_version >= '3.7' and python_version < '4.0'
requests==2.32.3; python_version >= '3.8'
rich==13.7.1; python_full_version >= '3.7.0'
rpds-py==0.18.1; python_version >= '3.8'
rsa==4.9; python_version >= '3.6' and python_version < '4'
setuptools==72.1.0; python_version >= '3.8'
shellingham==1.5.4; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.1; python_version >= '3.7'
sqlalchemy==2.0.29; python_version >= '3.7'
sse-starlette==1.8.2; python_version >= '3.8'
starlette==0.37.2; python_version >= '3.8'
tenacity==8.2.3; python_version >= '3.7'
tiktoken==0.7.0; python_version >= '3.8'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1; python_version >= '3.7'
tomlkit==0.12.5; python_version >= '3.7'
tqdm==4.66.2; python_version >= '3.7'
typer[all]==0.9.4; python_version >= '3.6'
typing-extensions==4.11.0; python_version >= '3.8'
typing-inspect==0.9.0
uritemplate==4.1.1; python_version >= '3.6'
urllib3==2.2.1; python_version >= '3.8'
uvicorn==0.23.2; python_version >= '3.8'
werkzeug==3.0.2; python_version >= '3.8'
wheel==0.43.0; python_version >= '3.8'
yarl==1.9.4; python_version >= '3.7'
zipp==3.19.2; python_version >= '3.8'
